<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid d-flex">
    <a class="navbar-brand">Comparador de tipos pokémon</a>
    <a
      class="btn btn-secondary"
      target="_blank"
      href="https://github.com/DanielCaz/pokemon-type-compare"
      >Repositorio</a
    >
  </div>
</nav>
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <app-type-info-lists></app-type-info-lists>
    </div>
    <div class="col">
      <app-type-info-lists></app-type-info-lists>
    </div>
  </div>
</div>
