<form (ngSubmit)="getData()" class="my-3 border rounded p-4">
  <div class="mb-3">
    <label for="pokemonName" class="form-label">Pokemon</label>
    <input
      type="text"
      name="pokemon"
      id="pokemonName"
      [(ngModel)]="pokemonName"
      class="form-control"
    />
    <span *ngIf="pokemonNotFound" class="text-danger">
      Pokemon "{{ pokemonName }}" not found
    </span>
  </div>
  <input type="submit" value="Submit" class="btn btn-primary me-3" />
  <button type="button" class="btn btn-danger my-2" (click)="resetData()">
    Reset
  </button>
</form>
<h2 *ngIf="pokemonTypes.length > 0">Types</h2>
<app-type-list [types]="pokemonTypes"></app-type-list>
<h2
  *ngIf="pokemonTypeData.damage_relations.double_damage_from.length > 0"
  class="my-1"
>
  Double damage from
</h2>
<app-type-list
  [types]="pokemonTypeData.damage_relations.double_damage_from"
></app-type-list>
<h2
  *ngIf="pokemonTypeData.damage_relations.double_damage_to.length > 0"
  class="my-1"
>
  Double damage to
</h2>
<app-type-list
  [types]="pokemonTypeData.damage_relations.double_damage_to"
></app-type-list>
<h2
  *ngIf="pokemonTypeData.damage_relations.half_damage_from.length > 0"
  class="my-1"
>
  Half damage from
</h2>
<app-type-list
  [types]="pokemonTypeData.damage_relations.half_damage_from"
></app-type-list>
<h2
  *ngIf="pokemonTypeData.damage_relations.half_damage_to.length > 0"
  class="my-1"
>
  Half damage to
</h2>
<app-type-list
  [types]="pokemonTypeData.damage_relations.half_damage_to"
></app-type-list>
<h2
  *ngIf="pokemonTypeData.damage_relations.no_damage_from.length > 0"
  class="my-1"
>
  No damage from
</h2>
<app-type-list
  [types]="pokemonTypeData.damage_relations.no_damage_from"
></app-type-list>
<h2
  *ngIf="pokemonTypeData.damage_relations.no_damage_to.length > 0"
  class="my-1"
>
  No damage to
</h2>
<app-type-list
  [types]="pokemonTypeData.damage_relations.no_damage_to"
></app-type-list>
