<form (ngSubmit)="getData()" class="my-3 border rounded p-4">
  <div class="mb-3">
    <label for="pokemonName" class="form-label">Pokemon</label>
    <input
      type="text"
      name="pokemon"
      id="pokemonName"
      [(ngModel)]="pokemonName"
      class="form-control"
    />
    <span *ngIf="pokemonNotFound" class="text-danger">
      Pokemon "{{ pokemonName }}" not found
    </span>
  </div>
  <input type="submit" value="Submit" class="btn btn-primary" />
  <button type="button" class="btn btn-danger ms-3" (click)="resetData()">
    Reset
  </button>
</form>
<h2 *ngIf="pokemonTypes.length > 0">Types</h2>
<ul class="list-group">
  <li
    *ngFor="let type of pokemonTypes"
    class="list-group-item type type-{{ type }}"
  >
    {{ type }}
  </li>
</ul>
<h2
  *ngIf="pokemonTypeData.damage_relations.double_damage_from.length > 0"
  class="my-1"
>
  Double damage from
</h2>
<ul class="list-group">
  <li
    *ngFor="let type of pokemonTypeData.damage_relations.double_damage_from"
    class="list-group-item type type-{{ type.name.toLowerCase() }}"
  >
    {{ type.name }}
  </li>
</ul>
<h2
  *ngIf="pokemonTypeData.damage_relations.double_damage_to.length > 0"
  class="my-1"
>
  Double damage to
</h2>
<ul class="list-group">
  <li
    *ngFor="let type of pokemonTypeData.damage_relations.double_damage_to"
    class="list-group-item type type-{{ type.name.toLowerCase() }}"
  >
    {{ type.name }}
  </li>
</ul>
<h2
  *ngIf="pokemonTypeData.damage_relations.half_damage_from.length > 0"
  class="my-1"
>
  Half damage from
</h2>
<ul class="list-group">
  <li
    *ngFor="let type of pokemonTypeData.damage_relations.half_damage_from"
    class="list-group-item type type-{{ type.name.toLowerCase() }}"
  >
    {{ type.name }}
  </li>
</ul>
<h2
  *ngIf="pokemonTypeData.damage_relations.half_damage_to.length > 0"
  class="my-1"
>
  Half damage to
</h2>
<ul class="list-group">
  <li
    *ngFor="let type of pokemonTypeData.damage_relations.half_damage_to"
    class="list-group-item type type-{{ type.name.toLowerCase() }}"
  >
    {{ type.name }}
  </li>
</ul>
<h2
  *ngIf="pokemonTypeData.damage_relations.no_damage_from.length > 0"
  class="my-1"
>
  No damage to
</h2>
<ul class="list-group">
  <li
    *ngFor="let type of pokemonTypeData.damage_relations.no_damage_from"
    class="list-group-item type type-{{ type.name.toLowerCase() }}"
  >
    {{ type.name }}
  </li>
</ul>
<h2
  *ngIf="pokemonTypeData.damage_relations.no_damage_to.length > 0"
  class="my-1"
>
  No damage to
</h2>
<ul class="list-group">
  <li
    *ngFor="let type of pokemonTypeData.damage_relations.no_damage_to"
    class="list-group-item type type-{{ type.name.toLowerCase() }}"
  >
    {{ type.name }}
  </li>
</ul>
